.content{

    width:1180px;
    margin: auto;
    padding-left: 100;
    
    }


    @media (max-width:768px){

        .content {
            width: 100%;
            padding: 0 1em;
        }
    }

    